# .env
SRCDS_TOKEN=<secret-token>
CS2_SERVERNAME=<name>
CS2_CHEATS=0
CS2_SERVER_HIBERNATE=0

# rcon and connection password
CS2_RCONPW=<password>
CS2_PW=<password>

# game configs
CS2_MAXPLAYERS=10
CS2_GAMEALIAS=deathmatch

# map group and startmap
#CS2_MAPGROUP=mg_active

# startmap and launch args 
# collection link: https://steamcommunity.com/sharedfiles/filedetails/?id=3179428851
CS2_STARTMAP=de_dust2
CS2_ADDITIONAL_ARGS=+host_workshop_collection 3179428851
